.e-sidebar {
    background-color: #f8f8f8;
    color: black;
}

.text-content {
    font-size: 1.5rem;
    padding: 3rem;
}

.main > div {
    padding: 250px !important;
    float: left;
}

.e-sidebar.e-right {
    border-left: 0 solid transparent;
    left: auto;
    right: 0;
    top: 0;
}

    .e-sidebar.e-right.e-open {
        transform: translateX(0%);
        transition: transform 0.5s ease;
        visibility: visible;
    }
